body {
	background-color: #8FBC8F;
	text-align: center;
}

#container {
	background-color: lightgray;
	padding: 10px;
	display: block;

}

#epage {
	color: red;
}

#content {
		text-align: center;
		padding: 10px;
}